{% extends 'base.html.twig' %}

{% block content %}

<h1>Todo List</h1>
<div>
    <div class="content">
        <div class="header">
            <form action="">
                <button type="submit">
                    <span class="entypo-list-add"></span>
                </button>
                <input type="text" placeholder="Add todo here!"/>
            </form>
        </div>

        <div class="todoItem">
            <span contenteditable="true">sss</span>
            <button>
                <span>o</span>
            </button>
            <button>
                <span>x</span>
            </button>
        </div>
        <div class="todoItem">
            <span contenteditable="true">sss</span>
            <button>
                <span>o</span>
            </button>
            <button>
                <span>x</span>
            </button>
        </div>
        <div class="todoItem">
            <span contenteditable="true">sss</span>
            <button>
                <span>o</span>
            </button>
            <button>
                <span>x</span>
            </button>
        </div>
    </div>
</div>

{% endblock %}