{% extends 'base.html.twig' %}

{% block content %}

<h1>Todo List</h1>
<div>
    <div class="content">
        <div class="header">
            <form method="post" action="{{ path('create_task') }}">
                <button type="submit">
                    <span class="entypo-list-add"></span>
                </button>
                <label>
                    <input name="title" type="text" placeholder="Add todo here!"/>
                </label>
            </form>
        </div>

        <div class="todoItem">
            <span contenteditable="true">sss</span>
            <button>
                <a href="{{ path('switch_status',{'id':1}) }}"><span>o</span></a>
            </button>
            <button>
                <a href="{{ path('delete_task',{'id':1}) }}"><span>x</span></a>
            </button>
        </div>
    </div>
</div>

{% endblock %}